WebERP1/App_WebReferences/Tools/ToolsServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://WebTools.Services/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://WebTools.Services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://WebTools.Services/">
      <s:element name="webUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="webUserResult" type="tns:webUsers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="webUsers">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserFullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExtnNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MobileNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMailID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="C_DateOfJoining" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="C_CompanyID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="C_DivisionID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="C_OfficeID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="C_DepartmentID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="C_ProjectSiteID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="C_DesignationID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ActiveState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayField" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrimaryKey" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="webUserSoapIn">
    <wsdl:part name="parameters" element="tns:webUser" />
  </wsdl:message>
  <wsdl:message name="webUserSoapOut">
    <wsdl:part name="parameters" element="tns:webUserResponse" />
  </wsdl:message>
  <wsdl:portType name="ToolsServicesSoap">
    <wsdl:operation name="webUser">
      <wsdl:input message="tns:webUserSoapIn" />
      <wsdl:output message="tns:webUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ToolsServicesSoap" type="tns:ToolsServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="webUser">
      <soap:operation soapAction="http://WebTools.Services/webUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ToolsServicesSoap12" type="tns:ToolsServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="webUser">
      <soap12:operation soapAction="http://WebTools.Services/webUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ToolsServices">
    <wsdl:port name="ToolsServicesSoap" binding="tns:ToolsServicesSoap">
      <soap:address location="http://localhost/WebTools1/App_Services/ToolsServices.asmx" />
    </wsdl:port>
    <wsdl:port name="ToolsServicesSoap12" binding="tns:ToolsServicesSoap12">
      <soap12:address location="http://localhost/WebTools1/App_Services/ToolsServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>