WebERP1/App_WebReferences/HRMS/HRMSServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://WebHrms.services/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://WebHrms.services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://WebHrms.services/">
      <s:element name="Employee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CardNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmployeeResult" type="tns:hrmEmployees" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="hrmEmployees">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CardNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="C_DateOfJoining" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="C_CompanyID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="C_DivisionID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="C_OfficeID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="C_DepartmentID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="C_ProjectSiteID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="C_DesignationID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ActiveState" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="Office">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OfficeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OfficeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OfficeResult" type="tns:hrmOffices" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="hrmOffices">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OfficeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Department">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DepartmentID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DepartmentResult" type="tns:hrmDepartments" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="hrmDepartments">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DepartmentID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Designation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DesignationID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DesignationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DesignationResult" type="tns:hrmDesignations" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="hrmDesignations">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DesignationID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShortName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Sequence" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Company">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompanyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyResult" type="tns:hrmCompanies" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="hrmCompanies">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CompanyID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShortName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BaaNID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProjectSite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProjectID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProjectSiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProjectSiteResult" type="tns:hrmProjects" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="hrmProjects">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ProjectCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Division">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DivisionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DivisionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DivisionResult" type="tns:hrmDivisions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="hrmDivisions">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DivisionID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:Employee" />
  </wsdl:message>
  <wsdl:message name="EmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:EmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="OfficeSoapIn">
    <wsdl:part name="parameters" element="tns:Office" />
  </wsdl:message>
  <wsdl:message name="OfficeSoapOut">
    <wsdl:part name="parameters" element="tns:OfficeResponse" />
  </wsdl:message>
  <wsdl:message name="DepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:Department" />
  </wsdl:message>
  <wsdl:message name="DepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:DepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="DesignationSoapIn">
    <wsdl:part name="parameters" element="tns:Designation" />
  </wsdl:message>
  <wsdl:message name="DesignationSoapOut">
    <wsdl:part name="parameters" element="tns:DesignationResponse" />
  </wsdl:message>
  <wsdl:message name="CompanySoapIn">
    <wsdl:part name="parameters" element="tns:Company" />
  </wsdl:message>
  <wsdl:message name="CompanySoapOut">
    <wsdl:part name="parameters" element="tns:CompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ProjectSiteSoapIn">
    <wsdl:part name="parameters" element="tns:ProjectSite" />
  </wsdl:message>
  <wsdl:message name="ProjectSiteSoapOut">
    <wsdl:part name="parameters" element="tns:ProjectSiteResponse" />
  </wsdl:message>
  <wsdl:message name="DivisionSoapIn">
    <wsdl:part name="parameters" element="tns:Division" />
  </wsdl:message>
  <wsdl:message name="DivisionSoapOut">
    <wsdl:part name="parameters" element="tns:DivisionResponse" />
  </wsdl:message>
  <wsdl:portType name="HRMSServicesSoap">
    <wsdl:operation name="Employee">
      <wsdl:input message="tns:EmployeeSoapIn" />
      <wsdl:output message="tns:EmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Office">
      <wsdl:input message="tns:OfficeSoapIn" />
      <wsdl:output message="tns:OfficeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Department">
      <wsdl:input message="tns:DepartmentSoapIn" />
      <wsdl:output message="tns:DepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Designation">
      <wsdl:input message="tns:DesignationSoapIn" />
      <wsdl:output message="tns:DesignationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Company">
      <wsdl:input message="tns:CompanySoapIn" />
      <wsdl:output message="tns:CompanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProjectSite">
      <wsdl:input message="tns:ProjectSiteSoapIn" />
      <wsdl:output message="tns:ProjectSiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Division">
      <wsdl:input message="tns:DivisionSoapIn" />
      <wsdl:output message="tns:DivisionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HRMSServicesSoap" type="tns:HRMSServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Employee">
      <soap:operation soapAction="http://WebHrms.services/Employee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Office">
      <soap:operation soapAction="http://WebHrms.services/Office" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Department">
      <soap:operation soapAction="http://WebHrms.services/Department" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Designation">
      <soap:operation soapAction="http://WebHrms.services/Designation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Company">
      <soap:operation soapAction="http://WebHrms.services/Company" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectSite">
      <soap:operation soapAction="http://WebHrms.services/ProjectSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Division">
      <soap:operation soapAction="http://WebHrms.services/Division" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HRMSServicesSoap12" type="tns:HRMSServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Employee">
      <soap12:operation soapAction="http://WebHrms.services/Employee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Office">
      <soap12:operation soapAction="http://WebHrms.services/Office" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Department">
      <soap12:operation soapAction="http://WebHrms.services/Department" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Designation">
      <soap12:operation soapAction="http://WebHrms.services/Designation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Company">
      <soap12:operation soapAction="http://WebHrms.services/Company" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectSite">
      <soap12:operation soapAction="http://WebHrms.services/ProjectSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Division">
      <soap12:operation soapAction="http://WebHrms.services/Division" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HRMSServices">
    <wsdl:port name="HRMSServicesSoap" binding="tns:HRMSServicesSoap">
      <soap:address location="http://localhost/WebHrms1/App_Services/HRMSServices.asmx" />
    </wsdl:port>
    <wsdl:port name="HRMSServicesSoap12" binding="tns:HRMSServicesSoap12">
      <soap12:address location="http://localhost/WebHrms1/App_Services/HRMSServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>